<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <table class="Table">
            <tr class="Table_headers">
            {% for header in headings %}
            <th class="table_cell">
                {{ header }}
            
            {% endfor%}
        </th>
            </tr>
            {%for i in range(0,len)%}
            <tr>
                <td>{{i}}</td>
                <td>{{check[i]}}

                </td>
            </tr>
            {%endfor%}
            


        </table>
    </div>

    
</body>
<style>
   
    
    .Table{
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(250, 243, 144);
    }
   .table_row{
        background-color: rgba(228, 241, 189, 0.573);
    }
    .table_header{
        text-align: center;
    }
    .table_cell{
        padding: 12px;
    }
    
   



        
</style>
 
    
</html>